.button-link{
    background-color: turquoise;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-link:hover{
    background-color: aqua;
}

.index_page {
    display: grid;
    justify-items: center;
    background-color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.container {
    column-count: 2;
}


.header{
    background-color: bisque;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 10vh;
    text-align: center;
    display: grid;
    justify-content: center;
}


.footer{
    display: grid;
    justify-content: center;
    background-color: bisque;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 10vh;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: beige;
}
.letter-boxes {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.letter-input {
    width: 20px;
    height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.wordle-page {
    display: grid;
    justify-content: center;
    background-image: url('static/capybara.png');
}

.leaderboard {
    border: solid;
    border-style: double;
    border-color: crimson;
    font-size: 11px;
}