<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
        <title>Home Page</title>
    </head>
    <body>
        <section class = "header">
            <h3>Project Content</h3>
        </section>
        <section class = "index_page">
            
                <!-- Introduction about me -->
            <h1 class = "index_page">Hi Everyone, My name is Stephen Tran</h1>
            <img src = "{{ url_for('static', filename = 'capybara.png') }}" width="30px" height="30px">
            <div class = "container">
                <h2 class = "index_page">About me</h2>
                <p class = "index_page">I am a programmer, mainly developing backend, Machine Learning Model, DeepLearning Model, Data Analyze. This is a project that I make to help me expain my field.</p><br>
                
                
                <!-- Introduction about the project -->
                <h2 class = "index_page">About the Project</h2>
                <p class = "index_page">This project is mainly about getting a schedule for traveler who are new to Vietnam or people who don't know where to head for some fun.</p>
            </div>
        
            <!-- button to move to the next step -->
            <p class = "index_page">Press here to play a wordle game</p>
            <a  href = "{{url_for('wordle_page')}}" class = "button-link" >Next Page</a>
        </section>
        <section class = "footer">
            <h3>Footer</h3>
        </section>
    </body>
</html>